@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Monsterrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    background-position: center;
}

header {
    
    padding: 0;
    margin: ;
}

h1 {
    text-align: center;
    font-family: 'Edu SA Beginner', cursive;
    color: rgb(127, 111, 231);
    font-size: 3rem;
}